# Python
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
eggs/
*.egg-info/
*.egg

# Virtual environments
venv/
env/
ENV/
/.venv/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
*.coverage
*.coverage.*
.cache
.pytest_cache/

# PyCharm
.idea/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# dotenv
.env

# Byte-compiled / optimized / DLL files
*.so
*.dylib
